includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src

    level: max

    ignoreErrors:
       - '#Parameter \#1 \$callback of method Illuminate\\Support\\LazyCollection\<\(int\|string\),mixed\>\:\:each\(\) expects callable\(\(int\|string\), \(int\|string\)\)\: mixed, Closure\(Symfony\\Component\\Finder\\SplFileInfo\)\: void given\.#'
       - '#Parameter \#1 \$callback of method Illuminate\\Support\\LazyCollection\<\(int\|string\),mixed\>\:\:each\(\) expects callable\(\(int\|string\), \(int\|string\)\)\: mixed, Closure\(array, string\)\: Illuminate\\Support\\LazyCollection\<\(int\|string\), mixed\> given\.#'
       - '#Unable to resolve the template type (.*) in call to function collect#'
       - '#Cannot call method (.*) on mixed\.#'

    checkMissingIterableValueType: false

    reportUnmatchedIgnoredErrors: false

    checkOctaneCompatibility: true
