includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src

    level: max

    ignoreErrors:
       - '#Parameter \#1 \$classFolder of class MichaelRubel\\AutoBinder\\AutoBinder constructor expects string\|null, array\|bool\|string\|null given\.#'
       - '#Parameter \#1 \$value of function collect expects Illuminate\\Contracts\\Support\\Arrayable\<\(int\|string\), mixed\>\|iterable\<\(int\|string\), mixed\>\|null, mixed given\.#'
       - '#Parameter \#2 \$string of function explode expects string, array\|bool\|string\|null given\.#'
       - '#Unable to resolve the template type (.*) in call to function collect#'
       - '#Cannot call method (.*) on mixed\.#'

    checkMissingIterableValueType: false

    reportUnmatchedIgnoredErrors: false

    checkOctaneCompatibility: true
